.root {
  position: absolute;
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  flex: 1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.inner .name {
  font-weight: bold;
}

.male {
  background: #a4ecff;
}

.female {
  background: #fdaed8;
}

.isRoot {
  border-color: rgba(0, 0, 0, 0.4);
}

.sub {
  position: absolute;
  top: 59px;
  right: 14px;
  width: 14px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 0;
  background: #fff;
  cursor: pointer;
  text-align: center;
}

.sub.male {
  background: #fdaed8;
}

.sub.female {
  background: #a4ecff;
}

.holucost {
  background-color: #efefef !important;
}

.Before {
  background-color: #efefef !important;
}

.content {
  position: relative;
  width: 100%;
}

.startOfDavid {
  position: absolute;
  top: 0;
  left: 0;
}

.startOfDavid svg {
  width: 20px;
  height: 20px;
  z-index: 9;
}
